body {
  background: url('https://images8.alphacoders.com/560/560736.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

ul.inline-list {
  text-transform: uppercase;
  list-style-type: none;
  padding-inline-start: 0;
}

li.inline-list {
  display: inline;
  margin-right: 5px;
}

.bg-moviered {
  background-color: #ba323f;
}

.bg-moviewhite {
  background-color: #fff6f7;
}

.text-moviered {
  color: #ba323f;
}

.text-moviewhite {
  color: #fff6f7;
}
