extends layout

block content
  div.col-sm-12
    div.row
      div.col-sm-12.bg-white.p-3.text-center
        h1.mb-3=error.message

        img(src="https://nerdist.com/wp-content/uploads/2015/08/Hackers-Blu-ray-081815.jpg")

        h4.mt-3 A couple of hackers have been told to fix this issue, hope they're legit.

