extends layout

block content
  div.col-sm-12
    div.row
      div.col-sm-12.p-3.mb-3.bg-moviewhite
        div.container
          div.row
            h3.text-moviered Popular
          div.row
            p Movies here
          div.row.float-right  
            button.btn.btn-dark.btn-sm Browse more...

      div.col-sm-12.p-3.mb-3.bg-moviewhite
        div.container
          div.row
            h3.text-moviered Top rated
          div.row
            p Movies here
          div.row.float-right  
            button.btn.btn-dark.btn-sm Browse more...

      div.col-sm-12.p-3.mb-3.bg-moviewhite
        div.container
          div.row
            h3.text-moviered Coming soon
          div.row
            p Movies here
          div.row.float-right  
            button.btn.btn-dark.btn-sm Browse more...

      div.col-sm-12.p-3.mb-3.bg-moviewhite
        div.container
          div.row
            h3.text-moviered Highest grossing
          div.row
            p Movies here
          div.row.float-right  
            button.btn.btn-dark.btn-sm Browse more...

